<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Si el archivo o carpeta existe, servirlo normalmente
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # En SPA Angular, cualquier ruta va a index.html
  RewriteRule ^ index.html [L]
</IfModule>
